<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8" />
	<title>Home</title>
	<link rel="stylesheet" href="#" th:href="@{/css/bootstrap.css}" />
	<link rel="stylesheet" href="#" th:href="@{/css/all.css}" />
	<link rel="stylesheet" href="#" th:href="@{/css/index.css}" />

</head>

<body style="background-color: black;">

	<div class="container base">
		<div class="row base-row">
			<div class="col-3 menu">
				<div class="logo text-center text-light bg-dark">
					<h4 class="font">CINEPOLIS</h4>
				</div>
				<ul class="list">
					<li><a th:classappend="${menu == 'home'} ? 'text-dark' : ' '" th:href="@{/}"><i
								class="fas fa-home"></i>&nbsp;&nbsp;Home</a></li>
					<li><a th:href="@{/register}"><i class="fas fa-user-plus"></i>&nbsp;&nbsp;Register</a></li>
					<li><a th:href="@{/loginForm}"><i class="fas fa-users"></i>&nbsp;&nbsp;Login</a></li>
					<li><a th:href="@{/about-us-index}"><i class="fas fa-address-card"></i>&nbsp;&nbsp;About
							us</a></li>
					<li><a th:href="@{/contact-us-index}"><i class="fas fa-phone-square-alt"></i>&nbsp;&nbsp;Contact
							us</a></li>
				</ul>
			</div>
			<div class="col-9 before_login_home">
				<div class="before_head">
					<form action="">
						<input type="text" placeholder="Search for movies..." />
						<button>
							<i class="fa fa-search"></i>
						</button>

					</form>
				</div>

				<div class="before_main_section">
					<div class="card-section" th:each="movies : ${movieList}">
						<form th:action="@{/booking}" method="get">
							<img th:src="@{${'images/'+movies.image}}" height="260px" alt="" />
							<div class="card_body mt-1">
								<button class="btn btn-primary" type="submit" name="name" th:value="${movies.name}">Book
									now</button>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>

</html>